{% extends 'base.html' %}

{% block content %}
<br>
<h1>{% block title %} Book a Hotel Room {% endblock %}</h1>






 <form action = "{{ url_for("create")}}" method="POST">

    <label for="hotelchoices">Choose a Room:</label>

    <select name="hotelname" id="hotelchoices">
        {% for value in hotelchoices %} 
        <option value="{{ value }}">{{ value }}</option>         
        {% endfor %} 
    </select>
    
    <div class="form-group">
        <label for="time" >Length of Booking in Seconds</label>
        <input name ="hnumber" id="time" type="number" value="0"
                  class="form-control"></input>
    </div>
    
        <button type="submit" class="btn btn-primary">Submit</button>
    

</form>
{% endblock %}