{% extends 'base.html' %}

{% block content %}


<br><br>
    <h1>{% block title %} Welcome to The Minute Hotel{% endblock %}</h1>
    <br>
    <h2> Reserve your vacation by the second!</h2>
    <br><br>

<div>{%block container %}



<div>

<div id="left">
<h4><a href="{{ url_for('create') }}" color="whitesmoke" >Book a Room (password protected)</a>  </h4>

<h4><a href="{{ url_for('reader') }}" >Monitor all Hotel Bookings</a></h4>
</div>



<div id="right">
  <img src="../static/images/stopwatch.png" alt="hotelimage" 
     width="50%" float="right">
</div>

<div id="left">
  <img src="../static/images/password.png" alt="passimage" 
     width="50%" float="right">
</div>




</div>

{% endblock %}
</div>



{% endblock %}