 
 {% extends 'base.html' %}


{% block content %}

<head>
    <br><br>
<h1>{% block title %} Hotel Bookings Monitoring {% endblock %}</h1>

 
     <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js" integrity="sha512-bLT0Qm9VnAYZDflyKcBaQ2gg0hSYNQrJ8RilYldYQ1FxQYoCLtUjuuRuZo+fjqhx/qtq/1itJ0C2ejDxltZVFg==" crossorigin="anonymous"></script>
    <script src="https://cdn.socket.io/4.7.5/socket.io.min.js" integrity="sha384-2huaZvOR9iDzHqslqwpR87isEmrfxqyWOF7hr7BY6KG0+hVKLoEXMPUJw3ynWuhO" crossorigin="anonymous"></script>
    <script type="text/javascript" charset="utf-8">
        $(document).ready(function() {
            // Connect to the Socket.IO server.
            var socket = io();

            // Event handler for new connections.
            // The callback function is invoked when a connection with the
            // server is established.
            socket.on('connect', function() {
                socket.emit('my_event', {data: 'I\'m connected!'});
            });

            // Event handler for server sent data.
            // The callback function is invoked whenever the server emits data
            // to the client. The data is then displayed in the "Received"
            // section of the page.
        
            socket.on('my_response', function(msg, cb) {
                $('#log').append('<br>' + $('<div/>').text('Received #' + msg.count + ': ' + msg.data).html());
                if (cb)
                    cb();
            });



            //interval to check database for all hotel and booking values, then print to the 
            // "hotel bookings" title
            // number is the wait interval in milliseconds
            setInterval(function() {  
                socket.emit('reader_ping');
            }, 2000);

            socket.on('reader_data', function(reader_data) {
                $('#reader_ping').append('<br>' + JSON.stringify(reader_data))
            });

 
            $('form#disconnect').submit(function(event) {
                socket.emit('disconnect_request');
                return false;
            });
            $('form#readWrite').submit(function(event) {
                socket.emit('reader_writer_test')
                return false;
            });
        });
    </script>

<style>

</style>
</head>
<body>
    <p>

    </p>
    <h2>Actions:</h2>
    <form id="readWrite" method="POST" action="#">
        <input type="submit" value="Test Readers and Writers">
    </form>
    <br>
    <form id="disconnect" method="POST" action="#">
        <input type="submit" value="Disconnect">
    </form>
    <br><br>

    <div>

    <div id="left">
    <h2>Connection Log:</h2>
    <div id="log"></div>
    </div>
     
    <div id="right">
    <h2>Hotel Bookings:</h2>
    <div id="reader_ping"></div>
    </div>

    </div>

{% endblock %}